{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %} Document{% endblock title %}</title>
</head>
<body>

    {% block header %}
        <h1>Soy la cabezera ppal</h1>
    {% endblock %}

    {% block content %}
            <h1>soy el contenido ppal</h1>
    {% endblock %}

    {% block footer %}
        <h1>Este es el footer ppal</h1>
    {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</body>
</html>