{% load staticfiles %}

    <title>{% block title %}  {% endblock %}</title>

    {% block header %}
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">
        <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
        <link rel="stylesheet" href="{% static 'css/aos.css'%}">
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'owlcorousel/dist/owl.carousel.js'%}">
    {% endblock %}

    {% block navbar %}
        <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
            <div class="site-wrap">

                <div class="site-mobile-menu site-navbar-target">
                  <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                      <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                  </div>
                  <div class="site-mobile-menu-body"></div>
                </div>


                <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

                  <div class="container-fluid">
                    <div class="d-flex align-items-center">
                      <div class="site-logo mr-auto w-25"><a href="index.html">OneSchool</a></div>

                      <div class="mx-auto text-center">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                          <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                            <li><a href="#home-section" class="nav-link">Home</a></li>
                            <li><a href="#courses-section" class="nav-link">Courses</a></li>
                            <li><a href="#programs-section" class="nav-link">Programs</a></li>
                            <li><a href="#teachers-section" class="nav-link">Teachers</a></li>
                          </ul>
                        </nav>
                      </div>

                      <div class="ml-auto w-25">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                          <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                            <li class="cta"><a href="#contact-section" class="nav-link"><span>Contact Us</span></a></li>
                          </ul>
                        </nav>
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
                      </div>
                    </div>
              </div>

            </header>
    {% endblock %}


    {% block content %} {% endblock %}


    {% block footer %}
        <footer class="footer-section bg-white">
          <div class="container">
            <div class="row pt-5 mt-5 text-center">
              <div class="col-md-12">
                <div class="border-top pt-5">
                <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
                </div>
              </div>

            </div>
          </div>
        </footer>
    {% endblock %}


    {% block js %}
          <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
          <script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
          <script src="{% static 'js/jquery-ui.js'%}"></script>
          <script src="{% static 'js/popper.min.js'%}"></script>
          <script src="{% static 'js/bootstrap.min.js'%}"></script>
          <script src="{% static 'js/owl.carousel.min.js'%}"></script>
          <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
          <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
          <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
          <script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
          <script src="{% static 'js/aos.js'%}"></script>
          <script src="{% static 'js/jquery.fancybox.min.js'%}"></script>
          <script src="{% static 'js/jquery.sticky.js'%}"></script>
          <script src="{% static 'js/main.js'%}"></script>
        </body>
    {% endblock %}


{#    {% block header %}#}
{#        <title>{% block title %} Home {% endblock title %}</title>#}
{#        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#        <h1>Soy la cabezera ppal</h1>#}
{#    {% endblock %}#}
{##}
{#    {% block content %}#}
{#            <h1>soy el contenido ppal</h1>#}
{#        <input type="submit" class="btn btn-primary">#}
{#    {% endblock %}#}
{##}
{#    {% block footer %}#}
{#        <h1>Este es el footer ppal</h1>#}
{#    {% endblock %}#}
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.js' %}"></script>#}
