{% extends 'appmovie/base.html' %}
{% load staticfiles %}
{% block title %}Description Movie{% endblock %}


{% block content %}

    <div class="container">
        <div class="col">

            <div class="row">
                <div class="col-6">
                    <h1>imagen pelicula</h1>
                </div>

                <div class="col-6">
                    <h2>descripcion pelicula</h2>
                </div>
            </div>

            <div class="row">

                <div class="col-12">
                    <h1>Trilerssssssssssssssssssssssssssss</h1>
                </div>

                <div class="col-12">
                    <h1>comentarios votos y estrellas</h1>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

